.text-center{
   text-align: center;
}
.bg_red{
    background-color: red;
}
.mx_auto{
  margin: auto;
}
.flex{
   display: flex;
}
.flex_column{
   flex-direction: column;
}
.item_center{
   text-align: center;
}